<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Analytics</key>
	<dict>
		<key>AccountID</key>
		<string></string>
		<key>Provider</key>
		<string>Google</string>
	</dict>
	<key>UserSettings</key>
	<dict>
		<key>Login</key>
		<array/>
		<key>SocialMedia</key>
		<array>
			<dict>
				<key>title</key>
				<string>Facebook</string>
				<key>service</key>
				<string>Facebook</string>
				<key>subtitle</key>
				<string>Used for photos, videos, updates, and checkins</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Foursquare</string>
				<key>service</key>
				<string>Foursquare</string>
				<key>subtitle</key>
				<string>Used for checkins</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Twitter</string>
				<key>service</key>
				<string>Twitter</string>
				<key>subtitle</key>
				<string>Used for publishing tweets</string>
			</dict>
		</array>
		<key>Widgets</key>
		<array>
			<dict>
				<key>title</key>
				<string>Twitter Stream</string>
				<key>tag</key>
				<string>twitter</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Updates from Facebook Group</string>
				<key>tag</key>
				<string>facebook</string>
			</dict>
		</array>
	</dict>
	<key>DefaultUserSettings</key>
	<dict>
		<key>Widgets</key>
		<array>
			<string>facebook</string>
			<string>twitter</string>
		</array>
	</dict>
	<key>AppFeedbackAddress</key>
	<string>digitalcomms@harvard.edu</string>
	<key>Location</key>
	<dict>
		<key>DefaultCenter</key>
		<string>42.3944,-71.1453</string>
		<key>DefaultZoom</key>
		<integer>16</integer>
	</dict>
	<key>Modules</key>
	<array>
		<dict>
			<key>class</key>
			<string>HomeModule</string>
			<key>hidden</key>
			<true/>
			<key>shortName</key>
			<string>Home</string>
			<key>tag</key>
			<string>home</string>
		</dict>
		<dict>
			<key>class</key>
			<string>PhotosModule</string>
			<key>longName</key>
			<string>Photos</string>
			<key>secondary</key>
			<false/>
			<key>shortName</key>
			<string>Photos</string>
			<key>tag</key>
			<string>photos</string>
		</dict>
		<dict>
			<key>class</key>
			<string>VideosModule</string>
			<key>longName</key>
			<string>Videos</string>
			<key>secondary</key>
			<false/>
			<key>shortName</key>
			<string>Videos</string>
			<key>tag</key>
			<string>video</string>
		</dict>
		<dict>
			<key>class</key>
			<string>ConnectModule</string>
			<key>longName</key>
			<string>Connect</string>
			<key>secondary</key>
			<false/>
			<key>shortName</key>
			<string>Connect</string>
			<key>tag</key>
			<string>connect</string>
		</dict>
		<dict>
			<key>class</key>
			<string>TwitterModule</string>
			<key>longName</key>
			<string>Twitter</string>
			<key>secondary</key>
			<true/>
			<key>shortName</key>
			<string>Twitter</string>
			<key>tag</key>
			<string>twitter</string>
		</dict>
		<dict>
			<key>class</key>
			<string>FacebookModule</string>
			<key>longName</key>
			<string>Facebook</string>
			<key>secondary</key>
			<true/>
			<key>shortName</key>
			<string>Facebook</string>
			<key>tag</key>
			<string>facebook</string>
		</dict>
		<dict>
			<key>class</key>
			<string>FoursquareModule</string>
			<key>hidden</key>
			<true/>
			<key>tag</key>
			<string>foursquare</string>
		</dict>
		<dict>
			<key>class</key>
			<string>SettingsModule</string>
			<key>hidden</key>
			<true/>
			<key>tag</key>
			<string>settings</string>
		</dict>
	</array>
	<key>OrganizationName</key>
	<string>Harvard</string>
	<key>Servers</key>
	<dict>
		<key>Development</key>
		<dict>
			<key>APIPath</key>
			<string>rest</string>
			<key>Host</key>
			<string>haa-dev.modolabs.com</string>
			<key>PathExtension</key>
			<string>build3</string>
			<key>UseHTTPS</key>
			<true/>
		</dict>
		<key>Production</key>
		<dict>
			<key>APIPath</key>
			<string>rest</string>
			<key>Host</key>
			<string>www.harvard-example.edu</string>
			<key>PathExtension</key>
			<string></string>
			<key>UseHTTPS</key>
			<false/>
		</dict>
		<key>Staging</key>
		<dict>
			<key>APIPath</key>
			<string>rest</string>
			<key>Host</key>
			<string>staging.harvard-example.edu</string>
			<key>PathExtension</key>
			<string></string>
			<key>UseHTTPS</key>
			<false/>
		</dict>
		<key>Testing</key>
		<dict>
			<key>APIPath</key>
			<string>rest</string>
			<key>Host</key>
			<string>localhost</string>
			<key>PathExtension</key>
			<string></string>
			<key>UseHTTPS</key>
			<false/>
		</dict>
	</dict>
	<key>SocialMedia</key>
	<dict>
		<key>bit.ly</key>
		<dict>
			<key>APIKey</key>
			<string></string>
			<key>Username</key>
			<string></string>
		</dict>
		<key>Email</key>
		<dict/>
		<key>Facebook</key>
		<dict>
			<key>APIKey</key>
			<string></string>
			<key>APISecret</key>
			<string></string>
			<key>AppID</key>
			<string></string>
		</dict>
		<key>Foursquare</key>
		<dict>
			<key>ClientID</key>
			<string></string>
			<key>ClientSecret</key>
			<string></string>
		</dict>
		<key>Twitter</key>
		<dict>
			<key>OAuthConsumerKey</key>
			<string></string>
			<key>OAuthConsumerSecret</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
